.in-selection{
  visibility: hidden;
}

.slider-handle{
  background: dimgrey;
}

.slider-selection{
  background: darkgrey;
}

#positive .slider-selection{
  background: limegreen;
}

#positive .slider-handle{
  background: forestgreen;
}

#negative .slider-selection{
  background: red;
}

#negative .slider-handle{
  background: darkred;
}


