.irs-from,
.irs-to,
.irs-single {
  background: limegreen;
}

.irs-from:after,
.irs-to:after,
.irs-single:after {
  border-top-color: limegreen;
}

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge,
.irs-slider {
  background: url(../resources/sprite-skin-flat-green.png) repeat-x;
}

.irs-bar {
  height: 12px; top: 25px;
  background-position: 0 -60px;
}
.irs-bar-edge {
  top: 25px;
  height: 12px; width: 9px;
  background-position: 0 -90px;
}

.irs-line {
  height: 12px; top: 25px;
}
.irs-line-left {
  height: 12px;
  background-position: 0 -30px;
}
.irs-line-mid {
  height: 12px;
  background-position: 0 0;
}
.irs-line-right {
  height: 12px;
  background-position: 100% -30px;
}

.irs-slider {
  width: 16px; height: 18px;
  top: 22px;
  background-position: 0 -120px;
}
.irs-slider.state_hover, .irs-slider:hover {
  background-position: 0 -150px;
}
