#positive .slider-selection{
  background: limegreen;
}

.in-selection {
  visibility: hidden;
}

#positive .slider-handle{
  background: forestgreen;
}

#negative .slider-selection{
  background: red;
}

#negative .slider-handle{
  background: darkred;
}

#neutral .slider-handle{
  background: dimgrey;
}
